/* login css*/

/*http://codepen.io/anon/pen/OMMOaO/*/
#contactLabel {
	font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #98d4f3;
	text-align: center;
}

form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
}

label, textarea, input{
	display: block;	
}

input, textarea{
	width: 500px;	
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}

select {
	margin-bottom: 50px;
	display: block;
	margin: 0 auto;
	border: none;
	border: 3px solid #98d4f3;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	color: #676767;
	text-align: center;
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: white;
	color: #98d4f3;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	color: #98d4f3;
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}

h1 {
	color: #98d4f3;
	text-align: center;
}

.signUpForm {
	background-color: #dee2e8;
	border-radius: 1.0em;
	width: 600px;
	height: 640px;
	margin: auto;
	border: none;
	border: 2px solid #06090f;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#formSwitch {
	margin-bottom: 0px;
	margin-top: 0px;
	border: none;
}
#logInForm {
	display: inline-block;
	border: 1px solid #41873f;
	padding: 25px 55px 25px 55px; /* top right bottom left */
	font-size: 35px;
	color: #ad1643;
	margin-left: 25px;
	border-radius: 0.2em;
}
#signUpForm {
	display: inline-block;
	border: 1px solid #41873f;
	padding: 25px 55px 25px 55px;
	font-size: 35px;
	color: #ad1643;
	border-radius: 0.2em;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
	width: 100%;
}

/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #98d4f3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #98d4f3;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #98d4f3;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #98d4f3;
}

.passwordReset {
	text-align: center;
	margin: 0 auto;
}