/* Sign up css*/

form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
}

label, textarea, input{
	display: block;	
}

input, textarea{
	width: 500px;	
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	/*border: solid 3px #98d4f3; */
	
	border:
	solid 3px 
		-webkit-linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		-webkit-linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		-webkit-linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);
	border:
		linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);	
		
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}

/*
	border:
		-webkit-linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		-webkit-linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		-webkit-linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);
	border:
		linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);
*/
input[type="submit"]
{
	background-color: white;
	color: #98d4f3;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}


h1 {
	color: #98d4f3;
	text-align: center;
}




/* change placeholder color for input fields */
/* http://stackoverflow.com/questions/2610497/change-an-inputs-html5-placeholder-color-with-css */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  #98d4f3;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   #98d4f3;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:   #98d4f3;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #98d4f3;
}
