/* header & footer css */

html
{
	min-height: 100%;
	min-width: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.homeHeader
{
	position: relative;
	margin: -10px;
	padding-top: 10px;
	padding-bottom: 13px;
	text-align: center;
	/*
	background:
		-webkit-linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		-webkit-linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		-webkit-linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);
		*/
}

a#logo
{
	float: left;
	font-size: 37px;
}


#login 
{
	float: right;
}

#signup
{
	float: right;
}

a#login
{
	color: #313235; /* login link color*/
}

.homeFooter
{
	position: relative;
	margin-top: 9px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin: -8px;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: #4f5567;
	
	/*
	background:
		-webkit-linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		-webkit-linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		-webkit-linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(161, 96%, 43%, 1) 0%, hsla(161, 96%, 43%, 0) 70%),
		linear-gradient(135deg, hsla(334, 95%, 43%, 1) 10%, hsla(334, 95%, 45%, 0) 80%),
		linear-gradient(225deg, hsla(135, 98%, 43%, 1) 10%, hsla(135, 98%, 47%, 0) 80%),
		linear-gradient(315deg, hsla(174, 91%, 43%, 1) 100%, hsla(174, 91%, 47%, 0) 70%);
		*/
}

#socialMedia 
{
	padding: 5px 0px 5px 0px;
}

a
{
	text-decoration: none; /* Remove underscore from links */
	padding-right: 20px; /* Spacing between links */
	color: #bf382b; /* All links' color except login link */
}